[submodule "sourcedata/gamepad.fmriprep"]
	path = sourcedata/gamepad.fmriprep
	url = https://github.com/courtois-neuromod/gamepad.fmriprep
	datalad-id = e8f3cb93-15a8-41c5-9d63-33cb5b4bf143
	datalad-url = https://github.com/courtois-neuromod/gamepad.fmriprep
